.header2,
.retail-desktop {
  width: 100%;
  background-color: var(--Blanco);
  overflow: hidden;
  display: flex;
}
.retail-desktop {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  font-size: var(--fs-18);
  color: var(--color-black);
  font-family: "DIN Next LT Arabic";
}
.header2 {
  backdrop-filter: blur(200px);
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  padding: 29.5px var(--Padding);
  box-sizing: border-box;
  gap: var(--gap-24);
  min-width: var(--min-w-375);
  max-width: 1440px;
}
.vector-icon7 {
  width: var(--Logosize);
  position: relative;
  max-height: 100%;
}
.servicios-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: center;
  gap: var(--gap-24);
}
.button17,
.servicios4 {
  cursor: pointer;
  flex-shrink: 0;
}
.servicios4 {
  border: 0;
  padding: var(--padding-0);
  background-color: transparent;
  position: relative;
  font-size: var(--fs-24);
  font-weight: 500;
  font-family: "DIN Next LT Arabic";
  color: var(--color-midnightblue-100);
  text-align: left;
  display: inline-block;
}
.button17 {
  border: 2px solid var(--color-midnightblue-100);
  padding: var(--padding-5) var(--padding-24);
  background-color: var(--color-gray-400);
  height: var(--height-45);
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8);
}
.button17:hover {
  background-color: var(--color-midnightblue-100);
}
.button17:hover .conoce-ms17 {
  color: var(--Blanco);
}
.conoce-ms17 {
  position: relative;
  font-size: var(--fs-18);
  line-height: 120%;
  font-weight: 500;
  font-family: "DIN Next LT Arabic";
  color: var(--color-midnightblue-100);
  text-align: center;
  flex-shrink: 0;
}
.button18 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5) var(--padding-11);
  background-color: var(--color-gray-400);
  height: var(--height-45);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--gap-8);
  flex-shrink: 0;
}
.fi-8272068-icon18 {
  width: var(--width-24);
  position: relative;
  max-height: 100%;
  flex-shrink: 0;
}
.rectangle-group {
  align-self: stretch;
  background-color: var(--Blanco);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-01) var(--padding-80) var(--padding-60);
  position: relative;
  isolation: isolate;
  text-align: center;
  color: var(--Blanco);
}
.frame-child32 {
  width: 1460px;
  height: 490px;
  position: absolute;
  margin: 0 !important;
  bottom: -53px;
  left: -10px;
  background-color: var(--color-whitesmoke-400);
  z-index: 0;
  flex-shrink: 0;
}
.frame-parent32 {
  align-self: stretch;
  background-color: var(--Blanco);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  padding: var(--padding-60) var(--padding-01) var(--padding-40);
  isolation: isolate;
  gap: var(--gap-40) var(--gap-0);
  z-index: 1;
  flex-shrink: 0;
}
.button-parent,
.retail-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.button-parent {
  flex: 1;
  gap: var(--gap-40);
  min-width: var(--min-w-380);
  z-index: 1;
}
.retail-parent {
  align-self: stretch;
  gap: var(--gap-16);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--fs-48);
  color: var(--color-gray-200);
}
.retail,
.soluciones-digitales-para {
  align-self: stretch;
  position: relative;
  line-height: 120%;
}
.soluciones-digitales-para {
  font-size: var(--fs-30);
  font-weight: 500;
  color: var(--color-darkslategray);
}
.frame-parent33 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: var(--min-w-380);
  z-index: 0;
}
.rectangle-container {
  align-self: stretch;
  height: 420px;
  display: flex;
  align-items: flex-start;
  position: relative;
  isolation: isolate;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  flex-shrink: 0;
}
.frame-child33,
.frame-child34,
.frame-child35 {
  position: absolute;
  margin: 0 !important;
  flex-shrink: 0;
}
.frame-child33 {
  height: 172px;
  width: 1147px;
  bottom: 0;
  left: calc(50% - 573px);
  background: linear-gradient(180deg, transparent, var(--color-black));
  opacity: var(--opacity-0_7);
  z-index: 0;
}
.frame-child34,
.frame-child35 {
  height: 298px;
  width: 186px;
  top: 122px;
  left: 0;
  background-color: var(--Blanco);
  z-index: 1;
}
.frame-child35 {
  height: 83px;
  width: 30px;
  top: 327px;
  left: 186px;
  backdrop-filter: blur(104px);
  background-color: var(--color-cornflowerblue-200);
  z-index: 2;
}
.frame-child36,
.frame-parent34 {
  background-color: var(--color-orangered-100);
  flex-shrink: 0;
}
.frame-child36 {
  height: 35px;
  width: 33px;
  position: absolute;
  margin: 0 !important;
  top: 382px;
  left: 169px;
  z-index: 3;
}
.frame-parent34 {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-60);
  gap: var(--gap-60);
  z-index: 2;
  text-align: left;
  font-size: var(--fs-24);
}
.en-un-entorno-container {
  flex: 1;
  position: relative;
  font-size: 36px;
  line-height: 120%;
}
.globalquark3 {
  font-weight: 800;
}
.frame-parent35 {
  align-self: stretch;
  background-color: var(--Blanco);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  padding: var(--padding-60) var(--padding-80);
  gap: var(--gap-60);
  font-size: var(--fs-48);
}
.rectangle-wrapper {
  height: 567px;
  flex: 1;
  display: flex;
  align-items: flex-start;
  position: relative;
  isolation: isolate;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: var(--min-w-380);
}
.frame-child37 {
  height: 35px;
  width: 300px;
  position: absolute;
  margin: 0 !important;
  top: 550px;
  left: 40px;
  background-color: var(--color-royalblue-100);
  z-index: 0;
  flex-shrink: 0;
}
.frame-parent36,
.image-68-parent {
  display: flex;
  flex-direction: column;
}
.frame-parent36 {
  flex: 1;
  align-items: center;
  isolation: isolate;
  gap: var(--gap-24);
  min-width: var(--min-w-380);
}
.image-68-parent {
  align-self: stretch;
  align-items: flex-start;
  z-index: 1;
}
.image-68-icon {
  width: 158px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.con-liferay-llevamos-container {
  align-self: stretch;
  position: relative;
  font-size: var(--fs-24);
  line-height: 120%;
  color: var(--color-gray-200);
  z-index: 0;
}
.image-69-icon {
  width: 112px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-frame {
  height: 538px;
  flex: 1;
  display: flex;
  align-items: flex-start;
  position: relative;
  isolation: isolate;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: var(--min-w-380);
}
.frame-child38 {
  height: 237px;
  width: var(--width-36);
  position: absolute;
  margin: 0 !important;
  top: 42px;
  left: 592.5px;
  background-color: var(--color-blueviolet-200);
  z-index: 0;
  flex-shrink: 0;
}
.frame-parent39,
.frame-parent40 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.frame-parent39 {
  background-color: var(--Blanco);
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-60) var(--padding-80);
  gap: var(--gap-40);
  font-size: var(--fs-48);
}
.frame-parent40 {
  align-items: center;
  isolation: isolate;
  gap: var(--gap-24);
  min-width: var(--min-w-380);
}
.frame-child39 {
  width: 115px;
  height: var(--height-40);
  object-fit: cover;
}
.frame-child40 {
  align-self: stretch;
  height: 450px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-width: var(--min-w-380);
}
.button-group,
.casos-de-xito-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.button-group {
  background-color: var(--Blanco);
  padding: var(--padding-60) var(--padding-80);
  position: relative;
  isolation: isolate;
  gap: var(--gap-40);
}
.casos-de-xito-group {
  gap: var(--gap-24);
  z-index: 1;
  flex-shrink: 0;
  font-size: var(--fs-60);
}
.asos-de-xito {
  text-transform: lowercase;
}
.aos-de-evolucin {
  align-self: stretch;
  position: relative;
  font-size: var(--fs-40);
  line-height: 120%;
  color: var(--color-gray-200);
}
.frame-parent42 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-40);
  z-index: 2;
  flex-shrink: 0;
  font-size: var(--fs-24);
}
.frame-child41,
.frame-parent43 {
  flex: 1;
  min-width: var(--min-w-380);
}
.frame-child41 {
  height: 1087px;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-height: 320px;
  max-height: 1090px;
}
.frame-parent43 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-32);
}
.frame-child42 {
  width: var(--width-250);
  height: 76px;
  object-fit: cover;
}
.el-reto-parent,
.frame-wrapper3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.el-reto-parent {
  gap: var(--gap-16);
}
.frame-wrapper3 {
  z-index: 4;
  flex-shrink: 0;
  font-size: var(--fs-24);
}
.button27 {
  height: var(--height-45);
  background-color: var(--color-cornflowerblue-200);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5) var(--padding-38);
  box-sizing: border-box;
  gap: var(--gap-5);
  z-index: 5;
  flex-shrink: 0;
  text-align: center;
  color: var(--Blanco);
}
.conoce-ms27 {
  position: relative;
  line-height: 120%;
  font-weight: 300;
}
.button-container {
  align-self: stretch;
  background-color: var(--color-midnightblue-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-60) var(--padding-80);
  gap: var(--gap-40);
  color: var(--Blanco);
}
.frame-wrapper5 {
  font-size: var(--fs-48);
}
.en-globalquark-convertimos-tu-wrapper,
.frame-wrapper5 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.globalquark4 {
  color: var(--color-orangered-100);
}
.frame-parent44,
.group-parent {
  display: flex;
  align-items: flex-start;
}
.frame-parent44 {
  align-self: stretch;
  flex-wrap: wrap;
  align-content: flex-start;
  position: relative;
  isolation: isolate;
  gap: var(--gap-40);
  font-size: var(--fs-24);
}
.group-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-32);
  min-width: var(--min-w-380);
  z-index: 0;
  flex-shrink: 0;
}
.group-container {
  width: 263.5px;
  height: 46px;
  position: relative;
}
.group-child {
  position: absolute;
  width: 16.43%;
  top: calc(50% - 23px);
  right: 83.57%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 46px;
}
.globalquark-icon {
  position: absolute;
  top: 6.4px;
  left: 55.2px;
  width: 208.3px;
  height: 33.2px;
}
.frame-child43 {
  height: 460px;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: var(--min-w-380);
  z-index: 1;
  flex-shrink: 0;
}
.frame-child44 {
  height: 199px;
  width: 33px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -20px;
  background-color: var(--Blanco);
  z-index: 2;
  flex-shrink: 0;
}
.button-parent2 {
  background-color: var(--color-gray-300);
  padding: var(--padding-60) var(--padding-80);
  gap: var(--gap-40);
  text-align: center;
  color: var(--Blanco);
}
.button-parent2,
.contactanos-para-comenzar-con-parent,
.frame-parent45 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent45 {
  background-color: var(--color-orangered-100);
  padding: var(--padding-60) 100px;
  gap: var(--gap-60);
  text-align: left;
  font-size: 43.5px;
}
.contactanos-para-comenzar-con-parent {
  gap: 9px;
}
.contactanos-para-comenzar,
.escrbenos-para-programaruna {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.escrbenos-para-programaruna {
  font-size: var(--fs-32);
  font-weight: 500;
}
.frame-parent46 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-24);
  font-size: var(--fs-18);
  color: var(--color-darkslategray);
}
.frame-parent47 {
  align-self: stretch;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: var(--gap-20);
}
.nombre-completo-wrapper {
  height: var(--height-50_8);
  flex: 1;
  backdrop-filter: blur(10px);
  border-radius: var(--br-2);
  background-color: var(--Blanco);
  border: var(--border-2);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: var(--padding-12) var(--padding-20_5);
  min-width: var(--min-w-380);
}
.nombre-completo {
  flex: 1;
  position: relative;
  line-height: 110%;
  font-weight: 300;
}
.industria-parent {
  height: var(--height-50_8);
  flex: 1;
  backdrop-filter: blur(10px);
  border-radius: var(--br-2);
  background-color: var(--Blanco);
  border: var(--border-2);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: var(--padding-12) var(--padding-20_5);
  gap: var(--gap-5);
  min-width: var(--min-w-380);
}
.path9413-icon {
  height: var(--height-8_8);
  width: var(--width-15);
  position: relative;
}
.cul-es-tu-mayor-desafo-arqui-wrapper {
  align-self: stretch;
  height: 110.5px;
  backdrop-filter: blur(10px);
  border-radius: var(--br-2);
  background-color: var(--Blanco);
  border: var(--border-2);
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-12) var(--padding-20_5);
}
.cul-es-tu {
  flex: 1;
  position: relative;
  font-weight: 300;
}
.button30 {
  height: var(--height-45);
  background-color: var(--color-cornflowerblue-200);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5) var(--padding-16);
  box-sizing: border-box;
  gap: var(--gap-5);
  text-align: center;
  color: var(--Blanco);
}
.frame-parent50,
.logo-color-group {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.frame-parent50 {
  background-color: var(--color-gray-300);
  flex-direction: column;
  padding: 41px 99px;
  gap: 57px;
  font-size: var(--fs-24);
  color: var(--White-100);
}
.logo-color-group {
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 35px var(--gap-24);
}
.logo-color2 {
  height: var(--height-80);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-10) var(--padding-01);
  box-sizing: border-box;
  min-width: var(--min-w-380);
}
.group-div {
  height: 63.9px;
  width: 389px;
  position: relative;
  flex-shrink: 0;
}
.group-item {
  position: absolute;
  height: 100%;
  width: 16.43%;
  top: 0;
  right: 83.57%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.globalquark-icon2 {
  position: absolute;
  top: 0;
  left: 81.5px;
  width: 307.5px;
  height: 49px;
}
.frame-parent51 {
  height: var(--height-80);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  gap: var(--gap-20);
  min-width: var(--min-w-380);
}
.redes-sociales-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.redes-sociales2 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 100%;
}
.parent6 {
  display: flex;
  align-items: center;
  gap: var(--gap-12);
}
.icon {
  height: var(--height-36);
  width: var(--width-36);
  position: relative;
}
.servicio-group {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-40);
  font-size: var(--fs-16);
  color: var(--color-darkgray);
}
.atencin-al-cliente2,
.servicio2 {
  height: var(--height-20);
  width: 89px;
  position: relative;
  line-height: 140%;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
}
.atencin-al-cliente2 {
  width: 127px;
}
.poltica-de-privacidad2,
.recursos2,
.sobre-nosotros3,
.trminos-y-condiciones2 {
  height: 19.5px;
  width: 75px;
  position: relative;
  line-height: 140%;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
}
.poltica-de-privacidad2,
.sobre-nosotros3,
.trminos-y-condiciones2 {
  width: 166px;
}
.poltica-de-privacidad2,
.sobre-nosotros3 {
  height: 20.5px;
  width: 107px;
}
.poltica-de-privacidad2 {
  width: 167px;
}
.big-small-online2,
.frame-child45 {
  align-self: stretch;
  position: relative;
}
.frame-child45 {
  height: 0.5px;
  border-top: 0.5px solid var(--Grey-1);
  box-sizing: border-box;
}
.big-small-online2 {
  height: 20.4px;
  font-size: var(--fs-12);
  letter-spacing: 0.04em;
  line-height: 10px;
  font-family: var(--font-epilogue);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
}
@media screen and (max-width: 1200px) {
  .header2 {
    padding-left: var(--padding-80);
    padding-right: var(--padding-80);
    box-sizing: border-box;
  }
  .servicios4 {
    font-size: var(--fs-20);
  }
}
@media screen and (max-width: 960px) {
  .servicios4 {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .header2 {
    padding-left: var(--padding-16);
    padding-right: var(--padding-16);
    box-sizing: border-box;
  }
  .servicios-container {
    width: auto;
    align-self: unset;
    gap: var(--gap-16);
  }
  .servicios4 {
    display: none;
  }
  .rectangle-group {
    padding-left: var(--padding-16);
    padding-right: var(--padding-16);
    box-sizing: border-box;
  }
  .frame-parent34 {
    padding: var(--padding-20);
    box-sizing: border-box;
  }
  .en-un-entorno-container {
    font-size: var(--fs-24);
  }
}
